#solution {
  background-color: #0d084d;
  border-radius: 3px;
  padding-top: 70px;
  padding-bottom: 60px;
  .my-container {
    h1 {
      margin-bottom: 40px;
      font-size: 32px;
      text-align: center;
      color: #404145;
    }
    .advertisement-left {
      padding-left: 25px;
      padding-right: 50px;
      width: 50%;
      @media screen and (max-width: 900px) {
        margin-bottom: 20px;
        padding-right: 25px;
        width: 100%;
      }
      h1 {
        text-align: left;
        margin-bottom: 30px;
        color: white;
        font-size: 32px;
        font-weight: bold;
        span {
          font-weight: 400;
        }
      }
      h2 {
        text-align: justify;
        color: white;
        margin-bottom: 30px;

        font-size: 37px;
        span {
          font-family: "Times New Roman", Times, serif;
          font-style: italic;
          font-weight: bold;
        }
      }
      h3 {
        line-height: 30px;
        text-align: justify;
        font-size: 22px;
        color: white;
        margin-bottom: 30px;
        font-weight: 500;
      }
      ul {
        padding-left: 0;
        li {
          margin-bottom: 20px;
          h2 {
            line-height: 25px;

            font-size: 20px;
            margin-bottom: 5px;
            font-weight: 400;
            color: white;
            text-align: justify;
          }
        }
      }
      button {
        margin-top: 30px;
        color: white;
        background-color: #1dbf73;
        padding: 8px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        &:hover {
          background-color: rgb(13, 167, 95);
        }
      }
    }
    .advertisement-right {
      z-index: 10;
      width: 50%;
      align-self: center;
      @media screen and (max-width: 900px) {
        width: 100%;
        padding: 40px 5% 0 5%;
      }
    }
  }
}
