#footer {
  padding: 40px 0 0 0;
  border-top: 1px solid #767676;
  border-bottom: 3px solid #767676;
}

#footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 25px 0;
}

#footer .footer-top .footer-top-item {
  width: 20%;
}

@media screen and (max-width: 992px) {
  #footer .footer-top .footer-top-item {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 576px) {
  #footer .footer-top .footer-top-item {
    width: 50%;
  }
}

@media screen and (max-width: 350px) {
  #footer .footer-top .footer-top-item {
    width: 100%;
  }
}

#footer .footer-top .footer-top-item h1 {
  font-size: 14px;
  margin-bottom: 20px;
}

#footer .footer-top .footer-top-item ul {
  padding-left: 0;
}

@media screen and (max-width: 992px) {
  #footer .footer-top .footer-top-item ul {
    margin-bottom: 30px;
  }
}

#footer .footer-top .footer-top-item ul li {
  margin-bottom: 10px;
}

#footer .footer-top .footer-top-item ul li a {
  color: #767676;
}

#footer .footer-top .footer-top-item ul li a p {
  margin-bottom: 0;
}

#footer .footer-top .footer-top-item ul li a span {
  color: #b5b4b4;
}

#footer .footer-top .footer-top-item ul li a:hover {
  color: #35a22c;
  -webkit-transition: none;
  transition: none;
}

#footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-top: 1px solid #b5b4b4;
}

#footer .footer-bottom .footer-bottom-left {
  width: 40%;
}

@media screen and (max-width: 992px) {
  #footer .footer-bottom .footer-bottom-left {
    width: 100%;
    margin-bottom: 20px;
  }
}

#footer .footer-bottom .footer-bottom-left a {
  font-size: 25px;
  font-weight: bold;
  color: #767676;
  margin-right: 15px;
}

#footer .footer-bottom .footer-bottom-left a:hover {
  color: #35a22c;
}

#footer .footer-bottom .footer-bottom-left a sub {
  font-size: 13px;
}

#footer .footer-bottom .footer-bottom-left span {
  color: #767676;
}

#footer .footer-bottom .footer-bottom-right {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  #footer .footer-bottom .footer-bottom-right {
    width: 100%;
  }
}

#footer .footer-bottom .footer-bottom-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  #footer .footer-bottom .footer-bottom-right ul {
    padding: 0 30px 0 0;
  }
}

@media screen and (max-width: 450px) {
  #footer .footer-bottom .footer-bottom-right ul {
    padding: 0 10px 0 0;
  }
}

#footer .footer-bottom .footer-bottom-right ul li a {
  color: #767676;
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  #footer .footer-bottom .footer-bottom-right ul li a {
    margin-left: 0;
    margin-right: 10px;
  }
}

#footer .footer-bottom .footer-bottom-right ul li a i {
  font-size: 20px;
}

#footer .footer-bottom .footer-bottom-right ul li a:hover {
  color: #35a22c;
}

#footer .footer-bottom .footer-bottom-right ul li a:hover i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .footer-bottom .footer-bottom-right a {
  color: #767676;
  margin-left: 30px;
}

@media screen and (max-width: 992px) {
  #footer .footer-bottom .footer-bottom-right a {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media screen and (max-width: 450px) {
  #footer .footer-bottom .footer-bottom-right a {
    margin-left: 0;
    margin-right: 15px;
  }
}

#footer .footer-bottom .footer-bottom-right a:hover {
  color: #35a22c;
}

#footer .footer-bottom .footer-bottom-right a i {
  font-size: 20px;
  margin-right: 10px;
}

#footer .footer-bottom .footer-bottom-right .person i {
  margin-right: 0;
  padding: 8px 12px;
  border-radius: 50%;
  border: 1px solid #767676;
}

#footer .footer-bottom .footer-bottom-right .person i:hover {
  border: 1px solid #35a22c;
}
/*# sourceMappingURL=Footer.css.map */