$color-text-footer: rgb(118, 118, 118);
$color-text-footer-2: rgb(181, 180, 180);
$color-text-footer-hover: #35a22c;
#footer {
  padding: 60px 0 0 0;
  border-top: 1px solid $color-text-footer-2;
  border-bottom: 3px solid $color-text-footer-2;
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 25px 0;
    .footer-top-item {
      width: 20%;
      @media screen and (max-width: 992px) {
        width: calc(100% / 3);
      }
      @media screen and (max-width: 576px) {
        width: 50%;
      }
      @media screen and (max-width: 350px) {
        width: 100%;
      }
      h1 {
        font-size: 14px;
        margin-bottom: 20px;
      }
      ul {
        padding-left: 0;
        @media screen and (max-width: 992px) {
          margin-bottom: 30px;
        }
        li {
          margin-bottom: 10px;
          a {
            color: $color-text-footer;
            p {
              margin-bottom: 0;
            }
            span {
              color: $color-text-footer-2;
            }
            &:hover {
              color: $color-text-footer-hover;
              transition: none;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-top: 1px solid $color-text-footer-2;
    .footer-bottom-left {
      width: 40%;
      @media screen and (max-width: 992px) {
        width: 100%;
        margin-bottom: 20px;
      }
      a {
        font-size: 25px;
        font-weight: bold;
        color: $color-text-footer;
        margin-right: 15px;
        &:hover {
          color: $color-text-footer-hover;
        }
        sub {
          font-size: 13px;
        }
      }
      span {
        color: $color-text-footer;
      }
    }
    .footer-bottom-right {
      text-align: right;
      display: flex;
      align-items: center;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
      ul {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        @media screen and (max-width: 992px) {
          padding: 0 30px 0 0;
        }
        @media screen and (max-width: 450px) {
          padding: 0 10px 0 0;
        }
        li {
          a {
            color: $color-text-footer;
            margin-left: 10px;
            @media screen and (max-width: 992px) {
              margin-left: 0;
              margin-right: 10px;
            }
            i {
              font-size: 20px;
            }
            &:hover {
              color: $color-text-footer-hover;
              i {
                transform: scale(1.5);
                transition: 0.3s;
              }
            }
          }
        }
      }
      a {
        color: $color-text-footer;
        margin-left: 30px;
        @media screen and (max-width: 992px) {
          margin-left: 0;
          margin-right: 30px;
        }
        @media screen and (max-width: 450px) {
          margin-left: 0;
          margin-right: 15px;
        }
        &:hover {
          color: $color-text-footer-hover;
        }
        i {
          font-size: 20px;
          margin-right: 10px;
        }
      }
      .person {
        i {
          margin-right: 0;
          padding: 8px 12px;
          border-radius: 50%;
          border: 1px solid $color-text-footer;
          &:hover {
            border: 1px solid $color-text-footer-hover;
          }
        }
      }
    }
  }
}
