#advertisement {
  background-color: #e9f8f1;
  border-radius: 3px;
  padding-top: 60px;
  padding-bottom: 70px;
  .my-container {
    h1 {
      margin-bottom: 40px;
      font-size: 32px;
      text-align: center;
      color: #404145;
    }
    .advertisement-left {
      padding-right: 50px;
      width: 50%;
      @media screen and (max-width: 900px) {
        margin-bottom: 20px;
        padding-right: 25px;
        width: 100%;
      }
      ul {
        li {
          margin-bottom: 20px;
          h2 {
            font-size: 18px;
            margin-bottom: 5px;
            font-weight: bold;
            color: #404145;
          }
          p {
            font-size: 17px;
            color: #404145;
            text-align: justify;
          }
        }
      }
    }
    .advertisement-right {
      z-index: 10;
      width: 50%;
      @media screen and (max-width: 900px) {
        width: 100%;
        padding: 0 5%;
      }
    }
  }
}
